<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwadee.rsgl.dao.PositionChageMapper">
  <resultMap id="BaseResultMap" type="com.hwadee.rsgl.model.PositionChage">
    <constructor>
      <idArg column="number" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="employee_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="employee_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="old_major" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="new_major" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    number, employee_id, employee_name, old_major, new_major
  </sql>
    <select id="selectAll" resultMap="BaseResultMap">
	select * from position_chage
</select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from position_chage
    where number = #{number,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from position_chage
    where number = #{number,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hwadee.rsgl.model.PositionChage">
    insert into position_chage (employee_id, employee_name, 
      old_major, new_major)
    values ( #{employeeId,jdbcType=INTEGER}, #{employeeName,jdbcType=VARCHAR}, 
      #{oldMajor,jdbcType=VARCHAR}, #{newMajor,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hwadee.rsgl.model.PositionChage">
    insert into position_chage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="number != null">
        number,
      </if>
      <if test="employeeId != null">
        employee_id,
      </if>
      <if test="employeeName != null">
        employee_name,
      </if>
      <if test="oldMajor != null">
        old_major,
      </if>
      <if test="newMajor != null">
        new_major,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="number != null">
        #{number,jdbcType=INTEGER},
      </if>
      <if test="employeeId != null">
        #{employeeId,jdbcType=INTEGER},
      </if>
      <if test="employeeName != null">
        #{employeeName,jdbcType=VARCHAR},
      </if>
      <if test="oldMajor != null">
        #{oldMajor,jdbcType=VARCHAR},
      </if>
      <if test="newMajor != null">
        #{newMajor,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hwadee.rsgl.model.PositionChage">
    update position_chage
    <set>
      <if test="employeeId != null">
        employee_id = #{employeeId,jdbcType=INTEGER},
      </if>
      <if test="employeeName != null">
        employee_name = #{employeeName,jdbcType=VARCHAR},
      </if>
      <if test="oldMajor != null">
        old_major = #{oldMajor,jdbcType=VARCHAR},
      </if>
      <if test="newMajor != null">
        new_major = #{newMajor,jdbcType=VARCHAR},
      </if>
    </set>
    where number = #{number,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hwadee.rsgl.model.PositionChage">
    update position_chage
    set employee_id = #{employeeId,jdbcType=INTEGER},
      employee_name = #{employeeName,jdbcType=VARCHAR},
      old_major = #{oldMajor,jdbcType=VARCHAR},
      new_major = #{newMajor,jdbcType=VARCHAR}
    where number = #{number,jdbcType=INTEGER}
  </update>
</mapper>